html {
    display: flex;
    justify-content: center;
}

body {
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
}

button {
    cursor: pointer;
}

#board {
    outline: 1px solid black;
    display: grid;
    height: 222px;
    width: 222px;
    margin: 32px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.square {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    background: none;
}

.square:active {
    background: rgb(225, 225, 225);
}

.reset, .turn {
    text-align: center;
    margin: 0;
}

.turn {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 18px;
    text-align: center;
}

.reset {
    margin-bottom: 8px;
}

.namespace {
    display: flex;
    flex-direction: column;
    width: 200px;
}

.namespace > * {
    margin: 4px;
}

.left {
    align-items: flex-end;
}

.name-input {
    width: 120px;
    border: 1px solid lightgray;
    border-radius: 8px;
    padding: 2px;
}

.main {
    display: flex;
    flex-direction: column;
    margin-top: 24px;
}